-content_for :page_header do
  Create Ticket
-content_for :sub_header do
  New ticket page
-content_for :current_page_breadcrumb do
  %i.fa.fa-dashboard
    =link_to new_ticket_path do
      New ticket
-content_for :dashboard_nav do
  active
.col-sm-7
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Create ticket
    .panel-body
      .col-lg-12
        =form_for @ticket, method: :post, role: "form" do |f|
          .form-group
            =f.label :email
            =f.email_field :email, class: "form-control"
          .form-group
            =f.label :user_name
            =f.text_field :user_name, class: "form-control"
          .form-group
            =f.label :problem_type_id
            =f.select :problem_type_id, options_from_collection_for_select(ProblemType.active_problem_types, "id", "name"), {prompt: "Select Problem Type"}, class: "form-control"
          .form-group
            =f.label :title
            =f.text_field :title, class: "form-control"
          .form-group
            =f.label :text
            =f.text_area :text, class: "form-control"
          .form-group
            =f.submit "Create", class: "btn btn-default"
.col-sm-5
  .panel.panel-success
    .panel-heading
      %h3.panel-title Info
    .panel-body
      .col-lg-12
